.sal-txt {
    margin-left: -50% !important;
}

.content-box {
    margin-left: 8% !important;
}

.btn-grp {
    margin-left: 30% !important;
}

.sec-margin {
    margin-left: 10% !important;
}

.btn-grp-mod {
    margin-left: 19% !important;
    margin-right: -20% !important;
}