.selbtnPS2 {
    border-radius: 12px !important;
    background-color: white !important;
    border: 2px solid #14f1bb !important;
    display: none;
    width: 73%;
    padding: 1% 19% !important;
    text-align: center;
}

#coverageDate_label {
    display: none;
}

.prgm_err_badge {
    margin-left: 1%;
}

.ux-cb-persona-wrapper.checked {
    background-color: #e6f3ff !important;
    box-sizing: border-box;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
}
.ux-cb-persona {
    /* border: 1px solid #ecedf5; */
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.programs-card {
    position: absolute;
    left: 2%;
    right: 0%;
    top: 16%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    bottom: 0%;
    padding: 1.5%;
    background: #f6f6f9;
}

#healthCare_label {
    padding-left: 8% !important;
}
#snap_label {
    padding-left: 8% !important;
}

 .ux-badge.custom_badge{
    height: 100%;
    min-height: 27px;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 10px 20px 10px 20px;
    /* text-align: center; */
    margin: 6px !important;
    /* margin-right: 11px !important; */
    background: rgba(0, 136, 255, 0.1);
    border: 0 !important;
    border-radius: 13.5px;
}

.ux-badge.custom_badge span {
    color: #012d7b !important;
    font-style: normal !important;

    font-weight: normal !important;
}
.ux-badge .selbtnPS2 span{
    color: #19E4D4  !important;
    background: #19E4D4  !important;
}
/* .ux-checkbox.checked{
    background: #2196F3;
} */

/* .ux-checkbox input:checked {
    background-color: #2196F3;
  } */

/* .ux-checkbox:not(.p-switch):not(.ux-switch) input:checked ~ .ux-cb-state label:before{
    background: blue !important;
  
} */
#program_selection .ux-checkbox:not(.ux-checkbox-inline) {
    display: inline-flex  !important;
}
