.time-size {
    padding-top: 12%;
}

.pt-10-percent {
    padding-top: 10%;
}

.panel-alert {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background-color:#e0284a;
    border-color: #e0284a;
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 1.75;
}