<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="com.deloitte.nextgen.framework.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    header="${java:runtime} - ${java:vm} - ${java:os} %n"
                    pattern="%d{ISO8601} [%t] %-12marker %-5level %X{clientIP} %X{requestId} %logger{1.} - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="./logs/app.log"
                     filePattern="./logs/$${date:yyyy-MM}/app-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ISO8601} %-5level %X{appName} [%t] %logger{1.} - %msg%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Rewrite name="rewrite">
            <MaskingRewritePolicy/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Rewrite>
    </Appenders>
    <Loggers>
        <Logger name="com.deloitte.nextgen" level="trace"></Logger>
        <Root level="info">
            <AppenderRef ref="rewrite"/>
            <!--            <AppenderRef ref="RollingFile"/>-->
        </Root>
    </Loggers>
</Configuration>