.page_background{
    background:#101A47 !important;
}
.left_background{
    background: #FFFFFF;
}
.hhs-image{
    width: 87% !important;
    padding-top: 20%;
  }

  .page-image{
     width:97% !important;
     display:block !important;
     float:left !important;
  }

  .powered-image{
    width: 100%;
    font-family: Avenir Next;
    font-size: 20px;
    text-align: center;
    color: #101A47;
    font-weight: bold;
    padding-bottom: 8% !important;
  }

  .microservices{
    width: 100%;
    font-family: Source Serif Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 370%;
    line-height: 156%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
    padding-top: 6%;
    }

    .link_background{
        margin-right: -20%;
        margin-left: -20%;
      }

.modules-logo{
    height: 200px!important;
    width: 85%!important;
    display:block !important;
    float:left !important;
    background: white;
    border-radius: 10%;
    cursor: pointer;
}

.left-side{
    padding-left:10%;
    padding-right: 7%;
  }

  .hhs-section1{
    text-align:center;
  }
  
  .pageimage-section1{
    padding-top:2%;
  }