.time-size {
    padding-top: 12%;
}

.pt-10-percent {
    padding-top: 10%;
}
.pt-2-rem {
padding-top: 1.75rem !important;
}
.pt-2-rem-det{
  padding-top: 2rem !important;
}
.pt-2pt5-rem{
  padding-top: 2.5rem !important;
  }
.selbtnFc1 {
    border-radius: 12px !important;
    width: auto;
    min-width: 63%;
  }

.selbtnFc2 {
  border-radius: 12px !important;
  background-color: #14F1BB !important;
  border: 2px solid  #14F1BB !important;
  width: auto;
  display: none;
  min-width: 63%;
}

.collSec1 {
margin-right: -35%;
}
.collSec2 {
  margin-right: 15%;
  }
/* .cardSec{
margin-left: -34%;
margin-right: -38%;
} */
.marLeft34{
  margin-left: -35%;
}
.borderleft{
  border-left: solid 5px #19E4D4;
}
.solid{
  border-top: 1px solid #DCDCDC;
}
.ssnFc{
  margin-left: 13%;
  padding-top: 6%;
  width: 100%;
}
.sspSsnFc1{
  margin-left: 13%;
  padding-top: 5%;
  width: 100%;
}
.sspSsnFc2{
  margin-left: 13%;
  padding-top: 1%;
  width: 100%;
}
.table th, .ux-table th, .ux-tabe td {
  padding: 0.75rem;
  vertical-align: top;
  font-weight: bolder;
  font-size: small;
  width: auto !important;
  table-layout: fixed;
}

.expand-cell-header label{
  margin-bottom: 0px !important;
}
.table-bordered {
  border: 0px solid #dee2e6;
}

.table-bordered th,.table-bordered td,.table-bordered thead th, .table-bordered thead td  {
  border: 0px solid #dee2e6;
  border-bottom: 1px solid #dee2e6 !important;  
}

#application_info_header span.ng-money-icon {
  background: url(/icons/applicationInfo_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.3em 2.3em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#file_clearance_header span.ng-money-icon {
  background: url(/icons/file_clearance_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.3em 2.3em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}
 
#applicants_header span.ng-money-icon {
  background: url(/icons/applicants_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.2em 1.9em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#case_association_header span.ng-money-icon {
  background: url(/icons/case_association_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.3em 2.3em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#contact_info_header span.ng-money-icon {
  background: url(/icons/contact_info_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.2em 2.2em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#authorised_representative_header span.ng-money-icon {
  background: url(/icons/authorised_representative_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.3em 2.3em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#program_selection_header span.ng-money-icon {
  background: url(/icons/program_selection_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.2em 2.5em!important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

#review_header span.ng-money-icon {
  background: url(/icons/review_panelHeader.png) !important;
  background-repeat: no-repeat !important;
  background-size: 2.3em 2.3em !important;
  background-position: center !important;
  background-color: #d6d6d8e5 !important;
}

.panel-left-border-color {
  border-left: 8px solid #19E4D4;
  
}

.padding-left-v1{
  padding-left: 1.25rem;
}

.pc_err_badge{
  margin-left: 35%;
}

/* th.expand-cell-header::before {
  content: 'More Details ';
}
td.expand-cell::before {
    content: 'View ';
    color: #0088ff;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
} */

.skipped-text{
  color: #979797;
}

